Repository light5551/SummerPracticeVkFriends, pull requests merged in 2019-07, with the labels that each got.

#12 добавлен vk api интерфейс
  src/Main/Main.java
  src/VkApi/VKUser.java
  src/VkApi/VkAPI.java
Labels: vk_api

#16 добавлен случай, когда у пользователя нет друзей или все закрытые
  src/Main/Main.java
Labels: vk_api

#17 Добавлена информация о начальном пользователе
  src/Main/Main.java
  src/VkApi/VKUser.java
  src/VkApi/VkAPI.java
Labels: vk_api

#35 Декомпозиция парсера
  .idea/libraries/com_bluecatcode_junit_junit_4_12_extended_1_0_3.xml
  .idea/libraries/com_google_code_gson_gson_2_8_1.xml
  src/VkApi/JsonConversation.java
  src/VkApi/VkAPI.java
Labels: vk_api

#36 добавлена функция быстрого получения списка пользователя
  src/Main/Main.java
  src/VkApi/VkAPI.java
Labels: vk_api

#37 Добавлен current user
  src/Main/Main.java
  src/VkApi/VkAPI.java
Labels: vk_api

#38 добавлен информация об изображении
  Test/VkApi/VkAPITest.java
  src/Main/Main.java
  src/VkApi/VKUser.java
  src/VkApi/VkAPI.java
Labels: vk_api

#39 добавлена функция нахождения общих друзей
  .idea/libraries/gson_2_8_1.xml
  .idea/libraries/hamcrest_core_1_3.xml
  .idea/libraries/jgraphx_4_0_0.xml
  .idea/libraries/junit_4_12.xml
  .idea/libraries/junit_4_12_extended_1_0_3.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/uiDesigner.xml
  .idea/vcs.xml
  .idea/workspace.xml
  src/Main/Main.java
  src/Visualizator/Visualizator.java
  src/VkApi/VKUser.java
  src/VkApi/VkAPI.java
Labels: vk_api

#41 добавлена функция для получения id по по url
  src/Main/Main.java
  src/VkApi/JsonConversation.java
  src/VkApi/VkAPI.java
Labels: vk_api

#45 added some functions
  src/Visualizator/VerticalLayout.java
  src/Visualizator/Visualizator.java
Labels: Visualizator

#46 renamed
  .idea/libraries/gson_2_8_1.xml
  .idea/libraries/hamcrest_core_1_3.xml
  .idea/libraries/jgraphx_4_0_0.xml
  .idea/libraries/junit_4_12.xml
  .idea/libraries/junit_4_12_extended_1_0_3.xml
  src/Main/Main.java
  src/VkApi/VKUser.java
  src/VkApi/VkAPI.java
  src/VkFriendsVisualization/VerticalLayout.java
  src/VkFriendsVisualization/VkFriendsVisualization.java
Labels: Visualizator, vk_api
